body {
  min-height: 100dvh;
  display: grid;
  place-content: center;
  text-align: center;
  margin: 0;
}
img {
  width: 300px;
  height: 200px;
  display: block;
  margin: 0 auto;
}
p {
  margin-bottom: 20px;
}